body{
  background: #045 linear-gradient(#289, #045) no-repeat fixed;
}
.header{
  text-align: center;    
}
button {
  background-color: cyan;
  color: black;
  padding: 14px 20px;
  margin: 150px 200px;
  border: none;
  cursor: pointer;
  width: 12%;
  border-radius: 24px;
}
button:hover {
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  opacity:0.8;
}
.hide-me{
  visibility:hidden;
}
ul {
  list-style-type: none;
  position:absolute;
  right:50%;
  margin-right:-257px;
  padding: 0;
  overflow: hidden;
  background-color: brown;
  border-radius:12px;
  width:514px;
  font-size:24px;
}
li {
  float: left;
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
  color:white;
}
#movies{
  position:absolute;
  width:800px;
  top:55%;
  right:40%;
  margin-right:-350px;
  margin-top:-250px;
  font-size:24px;
  color:white;
}